# Dependencies
**/node_modules/

# Build output
**/dist/
**/build/

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Test coverage
**/coverage/

# Logs
*.log

# TypeScript build info
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
